<html>
    <head>
        <title>Mitzi @ Django Girls' blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 27.02.2016, 16:01</p>
            <h2><a href="">My first post</a></h2>
            <p>Hw is due this monday.</p>
        </div>

        <div>
            <p>published: 27.02.2016, 16:08</p>
            <h2><a href="">My second post</a></h2>
            <p>Exam is this week.</p>
        </div>
    </body>
</html>
